<template>
  <q-page padding>
    <div class="results q-pa-md bg-grey-10 text-white">
      <q-input
      dark
      v-model="results"
      filled
      type="textarea"
      placeholder="Scrape Results:"
      readonly
    />
    </div>
    <q-btn label="Scrape TKP" @click="scrape('tkp')">
    </q-btn>
    <q-btn label="Scrape THT" @click="scrape('tht')"></q-btn>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  async beforeCreate () {
    if (!this.$store.getters['users/isLoggedIn']) {
      this.$router.push('/login')
    }
  },
  data () {
    return {
      results: null,
      message: null
    }
  },
  computed: {
    ...mapState('users', ['token'])
  },
  methods: {
    async scrape (source) {
      try {
        const response = await this.$axios.get(`http://localhost:5000/scrape/${source}`, { headers: { 'Authorization': `Bearer ${this.token}` } })
        this.results = JSON.stringify(response.data.data)
        console.log(response.data)
      } catch (err) {
        this.message = err.response.data.message
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: this.message
        })
      }
    }
  }
}
</script>
