<template>
  <q-page class="flex">
    <div class="fit row wrap justify-center items-center content-center">
      Hello Docs
    </div>
  </q-page>
</template>

<script>
export default {

}
</script>

<style>
</style>
