<template>
  <q-page class="flex">
    <div class="fit row wrap justify-center items-center content-center">
      <!-- {{apiData}} -->
      <Search />
      <HoroscopeList />

    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import Search from '../components/Search'
import HoroscopeList from '../components/HoroscopeList'
export default {
  name: 'PageIndex',
  async created () {
    // if (!this.$store.getters['users/isLoggedIn']) {
    //   this.$router.push('/login')
    // }
    this.$store.dispatch('horoscope/loadData')
  },
  components: {
    Search,
    HoroscopeList
  },
  computed: {
    ...mapState('horoscope', {
      apiData: state => state.apiData
    })
  }
}
</script>
