<template>
  <div class="login-page row justify-center q-pa-md">
    <q-form
      @submit="onSubmit"
      class="col-sm-12 col-md-6 q-pb-sm"
    >
      <q-input
        filled
        v-model="userName"
        label="User Name"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />
      <q-input
        filled
        v-model="password"
        type="password"
        label="Password"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />
      <div>
        <q-btn
          label="Submit"
          type="submit"
          color="primary"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  async created () {
    if (this.$store.getters['users/isLoggedIn']) {
      this.$router.push('/')
    }
  },

  data () {
    return {
      userName: null,
      password: null,
      message: null
    }
  },

  methods: {
    async onSubmit () {
      try {
        const response = await this.$axios.post('http://localhost:5000/api/signs/login', { userName: this.userName, password: this.password })
        this.message = response.data.message

        const token = response.data.token
        const user = response.data.user
        this.$store.dispatch('users/login', { token, user })

        this.$router.push('/dashboard')
      } catch (err) {
        this.message = err.response.data.message
      } finally {
        if (this.message) {
          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: this.message
          })
        }
      }
    }
  }
}
</script>

<style>
</style>
