<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
         <q-btn stretch flat label="Horoscope API" to="/" />
        </q-toolbar-title>

        <!-- <div v-if="Object.entries(this.$store.state.users.user).length === 0"> -->
        <div v-if="!this.$store.getters['users/isLoggedIn']">
          <q-btn
            flat
            icon="person"
            label="Admin"
            to="/login"
          />
        </div>
        <div v-else>
          <q-btn-dropdown stretch flat :label="`Welcome, ${ this.$store.state.users.user.userName }`">
            <q-list>
              <q-item clickable v-close-popup to="/dashboard">
                <q-item-section>Dashboard</q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section @click.prevent="logout">Logout</q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>

          <!-- <q-btn
            color="brown-5"
            icon="person"
            label="Logout"
            @click.prevent="logout"
            class="q-ml-md"
          /> -->
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      show-if-above
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Essential Links</q-item-label>
        <q-item
          clickable
          tag="a"
          target="_blank"
          to="/docs"
        >
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>API Docs</q-item-label>
            <q-item-label caption>/docs</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          tag="a"
          target="_blank"
          href="https://gitlab.com/subin7/horoscope-api"
        >
          <q-item-section avatar>
            <q-icon name="code" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Gitlab</q-item-label>
            <q-item-label caption>gitlab.com/subin7</q-item-label>
          </q-item-section>
        </q-item>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('users/logout')
      this.$router.push('/login')
    }
  }
}
</script>
