<template>
  <section class="horoscope-list row justify-center q-px-md">
    <div class="col-sm-12 col-md-6 q-pb-sm">
      <q-input
        filled
        v-model="date"
        readonly
        @click="() => $refs.qDateProxy.show()"
        class="cursor-pointer"
      >
        <template v-slot:prepend>
          <q-icon
            name="event"
            class="cursor-pointer"
          >
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="date"
                mask="YYYY-MM-DD"
                :options="optionsFn"
                @input="() => $refs.qDateProxy.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
    <div class="col-md-12 q-pb-sm">
      <q-tabs
        v-model="tab"
        class="bg-grey-1"
        dense
        align="justify"
      >
        <q-tab
          class="text-orange"
          name="tkp"
          label="The Kathmandu Post"
        />
        <q-tab
          class="text-cyan"
          name="tht"
          label="The Himalayan Times"
        />
      </q-tabs>
    </div>

    <q-tab-panels
      keep-alive
      v-model="tab"
      animated
      transition-prev="fade"
      transition-next="fade"
      class="q-mb-md"
    >
      <q-tab-panel
        :name="tab"
        class="row"
      >
        <q-card
          square
          flat
          bordered
          class="col-md-6"
          v-for="(item, index) in apiData.data"
          :key="item.name"
        >
          <q-item>
            <q-item-section avatar>
              <q-img :src="`statics/${index}.svg`" />
            </q-item-section>
            <q-item-section class="q-pa-sm">
              <div class="text-h5 q-pb-sm">{{ item.name }}</div>
              <div class="text-subtitle2">{{ item.horoscope }}</div>
            </q-item-section>
          </q-item>

        </q-card>
      </q-tab-panel>

      <q-tab-panel
        name="t1ht"
        class="row"
      >
        <h1>The Himalayan Times</h1>
      </q-tab-panel>
    </q-tab-panels>

  </section>
</template>

<script>
import { mapState } from 'vuex'
import { date, QSpinnerOval } from 'quasar'
export default {
  computed: {
    query: {
      get () {
        return this.$store.state.horoscope.query
      },
      set (value) {
        this.$store.commit('horoscope/UPDATE_QUERY', value)
      }
    },
    ...mapState('horoscope', ['apiData', 'error'])
  },
  data () {
    return {
      tab: 'tkp',
      date: date.formatDate(Date.now(), 'YYYY-MM-DD'),
      test: 3,
      dateFormat: date.formatDate(Date.now(), 'YYYY/MM/DD')
    }
  },
  watch: {
    date: 'loadData',
    tab: 'loadData'
  },
  methods: {
    loadData () {
      this.$q.loading.show({
        message: 'Loading...',
        spinner: QSpinnerOval,
        spinnerColor: 'blue'
      })
      this.query = { source: this.tab, date: this.date }
      this.$store.dispatch('horoscope/loadData')
      setTimeout(() => {
        this.$q.loading.hide()
        if (this.error) {
          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: this.error
          })
        }
      }, 2000)
    },
    optionsFn (date) {
      return (date >= '2019/11/22' && date <= '2019/11/26') || (date >= '2019/12/14' && date <= this.dateFormat)
    }
  }
}
</script>

<style lang="scss" scoped>
// .sign-thumbnail {
//   width: 100px;
//   float: left;
//   padding: 10px;
// }
</style>
