<template>
  <section class="search row col-sm-12 col-md-6 q-pa-md">
    <q-select
      filled
      v-model="model"
      use-input
      hide-selected
      fill-input
      input-debounce="0"
      :options="signArray"
      @filter="filterFn"
      placeholder="What's your sun sign?"
      class="col-sm-12 q-pb-sm"
      @input="loadData"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">
            No results
          </q-item-section>
        </q-item>
      </template>
    </q-select>
    <div
      v-if="model"
      class="my-sign col-md-12"
    >
      <q-card
        square
        flat
        bordered
      >
        <q-item>
          <q-item-section avatar>
            <q-img :src="`statics/${ index }.svg`" />
          </q-item-section>
          <q-item-section class="q-pa-sm">
            <div class="text-h5 q-pb-sm">{{ foundSign.name }}</div>
            <div class="text-subtitle2 text-justify">{{ foundSign.horoscope }}</div>
          </q-item-section>
        </q-item>
      </q-card>
    </div>
  </section>
</template>

<script>
const stringOptions = []
import { mapState } from 'vuex'
export default {
  data () {
    return {
      model: null,
      foundSign: null,
      index: null
    }
  },
  computed: {
    ...mapState('horoscope', [
      'apiData',
      'signArray'
    ])
  },
  watch: {
    signArray: function () {
      this.model = null
    }
  },
  methods: {
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.options = stringOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        )
      })
    },
    loadData () {
      this.foundSign = this.apiData.data.find(item => item.name === this.model)
      this.index = this.apiData.data.findIndex(item => item.name === this.model)
    }
  }
}

</script>

<style></style>
